/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

#testoAlternato{
    padding: 30px;
    border: 2px solid black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 35%;
    position: relative;
}

.parole{
    color: #6C8A9E;
    font-weight: bold;
}

i:first-child{
    position: absolute;
    opacity: 0;
    animation: move 1s ease-in 1s forwards;
}

@keyframes move {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  50% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 0;
  }
}


i:nth-child(2){
    position: absolute;
    opacity: 0;
    animation: move 1s ease-in 3s forwards;
}



i:nth-child(3){
    position: absolute;
    opacity: 0;
    animation: move 1s ease-in 5s forwards;
}